

body {
	background-color: #fffaf9;
	overflow-x: hidden;
}

body, html {
	height: 100%;
}

#navigation {
	background-color: #fffaf9;
	background-size: cover;
}

#navigation .navbar-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	letter-spacing: 3px;
}

* { padding: 0; margin: 0; }
body { font-family: Open Sans; }
a { text-decoration: none;  }
li { list-style-type: none; }

header { 
	width: 100%; 
	height: 50px; 
	margin: auto;
	/*border-bottom: 1px solid #EEE;*/
	background-color: #f37254;
}


nav { width: 100%; text-align: left;  }
nav a { 
	display: block; 
	padding: 30px 20px;
	border-bottom: 1px solid #dedede;
	color: #727272;
}
#title {
	display: block; 
	padding: 30px 20px;
	border-bottom: .5px solid #727272;
	color: #444444;
	background-color: #f37254;
	font-size: 16px;
}
#signout a{
	position: absolute;
	bottom: 50px;
	width: 100%;
	background-color: #ef6e5d;
	color: #fdebe7 !important;
	text-align: center;
	font-size: 16px;
	padding: 16px 20px;
}
/*nav a:hover { background: #E5DAC0 color: #f37254; }*/
nav li:last-child a { border-bottom: none; }

/*-----------------------------------------*/

.menu {
	width: 260px;
	min-height: 100%;
	position: absolute;
	background: #fffaf9;
	left: -260px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}
.menu-icon {

	padding: 10px 20px;
	/*background: #E5DAC0;*/
	color: #FAFAFA;
	cursor: pointer;
	float: left;
	margin: 6px 6px 0 0;
	border-radius: 5px;
}
#menuToggle { display: none; }

#menuToggle:checked ~ .menu { position: absolute; left: 0; }



#landing-photo .jumbotron {
	
	background-image: url(../img/workspace.jpg);
	width: 100%;
	height: 100%;
	min-height: 700px;
	background-size: cover;
	/*overflow: hidden;*/
	text-align: center;
	background-size:  100% 100%;
	padding-top: 70px;
	
}

#landing-photo h2 {
	color: #222;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
	background-color: rgba(255, 255, 255, .8);
	width: 35%;
	margin-left: 65%;
	margin-top: 15%;
	padding: 10px 0;
}

#landing-photo h3 {
	color: #222;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
	background-color: rgba(255, 255, 255, .8);
	width: 600px;
	margin-left: 40%;
	margin-top: 5%;
	padding: 10px 0;
}

/*#landing-photo .jumbotron {
	position: relative;
	background-image: url(/img/workspace.jpg) no-repeat center center;
	height: 100%;
	width: 100%;
	min-height: 300px;
	background-size: 100% 100%;
	
}
*/
#ues-section .container {
	padding: 70px 0;
	border-bottom: 1px solid #ccc;
	font-family: 'Open Sans', sans-serif;
}

#ues-section h1 {
	margin-top: -10px;
	padding-left: 10px;
}

#ues-section p {
	font-family: 'Open Sans', sans-serif;
	padding-top: 20%;
}


.ues {
	width: 50%;
	height: auto;
	padding-left: 0px;
	margin-top: 20px;
}

#icon-section .container {
	padding: 70px 0;
	border-bottom: 1px solid #ccc;
	font-family: 'Open Sans', sans-serif;
}

#icon-section h1 {
	margin-top: -10px;
	padding-left: 10px;
}

#icon-section p {
	font-family: 'Open Sans', sans-serif;
	padding-top: 20%;
}


.icons {
	width: 50%;
	height: auto;
	padding-left: 0px;
	margin-top: 20px;
}

#portfolio-section .container {
	padding: 70px 0;
	border-bottom: 1px solid #ccc;
	font-family: 'Open Sans', sans-serif;
}

#portfolio-section p {
	font-family: 'Open Sans', sans-serif;
	padding-top: 25%;
}

.todo-pic {
	margin-left: -40px;
}

#stemd-section .container {
	padding: 70px 0;
	border-bottom: 1px solid #ccc;
	font-family: 'Open Sans', sans-serif;
}

#stemd-section h1 {
	margin-top: -10px;
	padding-left: 10px;
}

#stemd-section p {
	font-family: 'Open Sans', sans-serif;
	padding-top: 20%;
}


.stemd-pic2 {
	padding-left: 0px;
	margin-top: -10px;
}
@media (max-width: 400px) {

    .row {
        width: 100%;
        float: none;
    }

}
.about-pics {
	max-width: 70%;
	height: auto;
	margin: auto;
	position: relative;
	display: inline;
}

#about-section .container{
	padding-top: 5%;
	padding-bottom: 10%; 
	float: center;  
}

#about-section p{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-top: 10%;
	
}

#header {
	padding-bottom: 80px;
}
#landing-section {
	position: relative;
	display: inline-block;
	max-width: 100%;
	max-height: 60vh;
	
}


#landing-section img{
	
	max-width: 100%;
	max-height: 60vh;
	object-fit: cover;
	 
}

#landing-section h1{
	text-align: center;
	width: 100%; height: 0;
	color: #d5dbff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 4em; 
	position:absolute; top:50%;
    z-index: 1;
}

#landing-section #overlay {
	background: rgba(0,0,0,0.5);
}

/*.round-button a{
   margin-right: 30px;
	width: 64px;
	height: 64px;
	display: inline-block;
	position: relative;
	line-height: 64px;
	background-color: #eaeaea;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
}

.round-button img {
	vertical-align: -7px;
}*/
.round-button {
	position: relative;
	display: inline-block;


}
.round-button img{
	height: 4em;
	width: auto;
	position: relative;
	display: inline-block;
	padding-top: 15%;
	padding-bottom: 15%;

}

footer {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-top: 1%;
	padding-bottom: 2%;
	background-color: #fff; 
	color: #727272;
}

